---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #293f50;
$brand-color:      #648880;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$green-color:				 #648880;
$white-color:				 #eee;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

/**
 * Icons
 */
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: $white-color;
    padding-right: 5px;
    vertical-align: text-top;
}

/**
 * Site header
 */
.site-header {
	background-color: $background-color;
	border: none;
}

.site-title {
	color: $white-color;
	font-weight: 200;
  letter-spacing: 0px;

	&,
  &:visited {
		color: $white-color;
  }

	&:hover {
		color: $white-color;
		text-decoration: none;
	}
}

.site-nav {
  .page-link {
    color: $white-color;
		text-transform: uppercase;
  }
}

/**
 * Page content
 */
.page-content {
	background-color: $white-color;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
	color: $brand-color;
}

/**
 * Site footer
 */
.footer-heading {
	color: $white-color;
}

.footer-col {
  color: $white-color;

	a {
		&:visited {
			color: darken($white-color, 15%);
		}
	}
}

/**
 * Code formatting
 */
pre, code {
  background-color: #ddd;
}

/**
 * Mailchimp
 */
#mc_embed_signup {
  background: $white-color;
  border-top: 1.0px solid $background-color;
  font:       14px Helvetica, Arial, sans-serif;
  width:      100%;
}
